# {{project_name}} Analysis Pipeline

## 1. Data Quality Check

- [Data quality](data/data_quality.pdf)


## 2.Cluster Results
- [clusters](data/clusters.pdf)
- [marker genes with different resolutions](data/clusters_DEs.pdf)
- [seurat_clusters](data/clusters_seurat.pdf)
- [harmony_clusters](data/clusters_harmony.pdf)

## 3. Marker Genes & GO & pathway analysis
 - [External Markers](data/external_markers.pdf)
 - DE & GO
   - [DE & GO ](data/dego.pdf)
     - [DE-excel](data/de_{{cluster_use}}.xlsx)
     - [GO-UP-excel](data/goup_{{cluster_use}}.xlsx)
     - [GO-DOWN-excel](data/godown_{{cluster_use}}.xlsx)

 - Hallmark
   - [hallmark ](data/hallmark.pdf)
    - [Hallmark-UP-excel](data/hallmarkup_{{cluster_use}}.xlsx)
    - [Hallmark-DOWN-excel](data/hallmarkdown_{{cluster_use}}.xlsx)
 - KEGG
   - [KEGG ](data/KEGG.pdf)
    - [KEGG-UP-excel](data/keggup_{{cluster_use}}.xlsx)
    - [KEGG-DOWN-excel](data/keggdown_{{cluster_use}}.xlsx)
 - Reactome
   - [Reactome ](data/Reactome.pdf)
     - [Reactome-UP-excel](data/reactomeup_{{cluster_use}}.xlsx)
     - [Reactome-DOWN-excel](data/reactomedown_{{cluster_use}}.xlsx)



## 4. Differential Expression & GO analysis(between groups)
 - [DE&GO](data/gv.pdf)
 - DE FILES
    {% for x, y in list_stages %}
   - [DE {{x}}.vs.{{y}}.xlsx](data/{{x}}.vs.{{y}}.de_{{cluster_use}}.xlsx )
    {% endfor %}
 - GO FILES
    {% for x, y in list_stages %}
   - [GO UP    {{x}}.vs.{{y}} xlsx](data/{{x}}.vs.{{y}}.goup_{{cluster_use}}.xlsx)
   - [GO DOWN  {{x}}.vs.{{y}} xlsx](data/{{x}}.vs.{{y}}.godown_{{cluster_use}}.xlsx)
    {% endfor %}


## 5. Pathway analysis (between groups)

 - Hallmark
   - [hallmark stage](data/hallmark_stageVS.pdf)
    {% for x, y in list_stages %}
	   - [Hallmark UP    {{x}}.vs.{{y}} xlsx](data/{{x}}.vs.{{y}}.hallmarkup_{{cluster_use}}.xlsx)
	   - [Hallmark DOWN  {{x}}.vs.{{y}} xlsx](data/{{x}}.vs.{{y}}.hallmarkdown_{{cluster_use}}.xlsx)
    {% endfor %}

 - KEGG
   - [KEGG stage](data/kegg_stageVS.pdf)
    {% for x, y in list_stages %}
	   - [kegg UP    {{x}}.vs.{{y}} xlsx](data/{{x}}.vs.{{y}}.KEGGup_{{cluster_use}}.xlsx)
	   - [kegg DOWN  {{x}}.vs.{{y}} xlsx](data/{{x}}.vs.{{y}}.KEGGdown_{{cluster_use}}.xlsx)
    {% endfor %}


 - Reactome
   - [Reactome stage](data/reactome_stageVS.pdf)
    {% for x, y in list_stages %}
	   - [Reactome UP    {{x}}.vs.{{y}} xlsx](data/{{x}}.vs.{{y}}.Reactomeup_{{cluster_use}}.xlsx)
	   - [Reactome DOWN  {{x}}.vs.{{y}} xlsx](data/{{x}}.vs.{{y}}.Reactomedown_{{cluster_use}}.xlsx)
    {% endfor %}



## 6. Differential Expression & GO analysis(between samples)
 - [DE&GO](data/1vs1.pdf)

 - DE FILES
    {% for x, y in list_1v1 %}
	- [DE {{x}}.vs.{{y}}.xlsx](data/{{x}}.vs.{{y}}.de_{{cluster_use}}.xlsx )
    {% endfor %}

 - GO FILES

    {% for x, y in list_1v1 %}
	- [GO UP    {{x}}.vs.{{y}} xlsx](data/{{x}}.vs.{{y}}.goup_{{cluster_use}}.xlsx)
	- [GO DOWN  {{x}}.vs.{{y}} xlsx](data/{{x}}.vs.{{y}}.godown_{{cluster_use}}.xlsx)
    {% endfor %}

## 7. Pathway analysis (between samples)




- Hallmark
   - [hallmark 1v1](data/hallmark_1vs1.pdf)
    {% for x, y in list_1v1 %}
	  - [Hallmark UP    {{x}}.vs.{{y}} xlsx](data/{{x}}.vs.{{y}}.hallmarkup_{{cluster_use}}.xlsx)
	  - [Hallmark DOWN  {{x}}.vs.{{y}} xlsx](data/{{x}}.vs.{{y}}.hallmarkdown_{{cluster_use}}.xlsx)
    {% endfor %}

 - KEGG
   - [KEGG 1v1](data/kegg_1vs1.pdf)
    {% for x, y in list_1v1 %}
	  - [kegg UP    {{x}}.vs.{{y}} xlsx](data/{{x}}.vs.{{y}}.KEGGup_{{cluster_use}}.xlsx)
	  - [kegg DOWN  {{x}}.vs.{{y}} xlsx](data/{{x}}.vs.{{y}}.KEGGdown_{{cluster_use}}.xlsx)
    {% endfor %}


 - Reactome
   - [Reactome 1v1](data/reactome_1vs1.pdf)
    {% for x, y in list_1v1 %}
	  - [Reactome UP    {{x}}.vs.{{y}} xlsx](data/{{x}}.vs.{{y}}.Reactomeup_{{cluster_use}}.xlsx)
	  - [Reactome DOWN  {{x}}.vs.{{y}} xlsx](data/{{x}}.vs.{{y}}.Reactomedown_{{cluster_use}}.xlsx)
    {% endfor %}


